.aws_eb_environment_health {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #569329;
  border-radius: 3px;
  color: white;
  float: left;
  font-weight: bold;
  height: 16px;
  margin: 5px;
  margin-right: 7px;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
  width: 16px;
}

.aws_eb_environment_health .gray {
  background-color: #8f8f8f;
}

.aws_eb_environment_health .red {
  background-color: #8f0000;
}
